body {
background-color: beige;
}
div.product {
width: 100%;
}
div.product > div {
background-color: antiquewhite;
}

@media screen and (orientation: landscape) {
    body {
      background-color: aquamarine;
    }
  }