:root {
    --width: 80%;
}

* {
    box-sizing: border-box;
}

.flex {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.flex.subject {
    justify-content: space-between;
}

header {
    background: linear-gradient(lightblue, white, lightblue);
}

header img {
    width: 150px;
    padding: 10px;
}

header > div {
    padding: 10px;
}

.ads > div {
    border: 1px dashed darkblue;
    margin: 5px;
    padding: 3.5rem 10px;
}

ul.menu {
    background-color:aquamarine;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.menu > li {
    border-right: 1px solid darkblue;
    min-width: 150px;
    text-align: center;;
}

ul.menu > li > a {
    display: block;
    padding: 1rem 1.5rem;
    text-decoration: none;
}

ul.menu > li > a:hover {
    background: darkblue;
    color: white;
}

.right {
    width: var(--width);
}

.left {
    width: calc(100% - var(--width));
}

ul.v-menu > li {
    border-right: none !important;
}

ul.v-menu > li > a {
    background: linear-gradient(lightblue, white);
}

div.book {
    width: 25%;
    padding: 1.5%;
}

div.book img {
    width: 100%;
    transition: transform 0.5s;
}

div.book img:hover {
    transform: scale(0.8);
}

.flex.content {
    align-items: flex-start !important;
}

footer {
    background: linear-gradient(lightblue, white, lightblue);
    padding: 2rem 0;
    color: darkblue;
    font-weight: bold;
    overflow: hidden;
}

footer > span {
    animation: dichuyen 15s infinite;
    position: relative;
}

@keyframes dichuyen {
    from {
        left: 0;
    }
    to {
        left: 100%;
    }
}

.subcontent {
    display: none !important;
    position: absolute;
}

.subcontent::after {
    content: " ";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent lightblue transparent;
    position: absolute;
    bottom: 100%;
    left: 10%;
}

.sub:hover .subcontent {
    display: block !important;
}
